@charset "UTF-8";

html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura mínima de 100% da viewport */
}

header {
  text-align: center;
}

header > h1 > em {
  color: rgb(38, 95, 121);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

main {
  padding: 2rem;
  flex: 1; /* faz o conteúdo principal crescer para ocupar o espaço disponível */
  max-width: 800px; /* Define a largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno */
}

.button {
  border: 0;
  cursor: pointer;
  background-color: gray;
  color: lightgray;
  font-weight: 700;
  border-radius: 2px;
  padding: 5px;
}

.button:hover,
.button:focus {
  background-color: rgb(4, 102, 102);
}

.modal,
.modal-form {
  max-width: 50ch;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop,
.modal-form::backdrop {
  background-color: rgb(0 0 0 / 0.4);
}

form {
  display: grid;
  gap: 1em;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
  font-weight: bolder;
}
